<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="newPhone">Novo Apartamento <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/newUser">Novo User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listPhone">Listar Apartamento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dash-cliente">Meu DashBoard</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin">Admin</a>
          </li>
      </ul>
      <ul id="login" class="navbar-nav">
        <li class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Entrar</li>
        <li class="nav-link" *ngIf="_authService.loggedIn()" style="cursor: pointer;" routerLinkActive="active" (click)="_authService.loggout()">Sair</li>
      </ul>
    </div>
  </nav>