.e-tooltip-wrap.e-schedule-event-tooltip .airline-flex-row {
    display: flex;
    padding: 0 5px;
    line-height: 20px;
}

.e-tooltip-wrap.e-schedule-event-tooltip .airline-flex-col {
    flex: 0 0 50%;
}

.e-tooltip-wrap.e-schedule-event-tooltip .text-right {
    text-align: right;
}

.e-tooltip-wrap.e-schedule-event-tooltip .margin-right {
    margin-left: -21px;
}

.e-tooltip-wrap.e-schedule-event-tooltip .text-size {
    font-size: 14px;
}

.e-tooltip-wrap.e-schedule-event-tooltip .border-right {
    border-right: 1px solid #fff;
}

.e-tooltip-wrap.e-schedule-event-tooltip .airline-fare {
    padding-left: 8px;
}

.schedule-resources.e-schedule .e-appointment .template-wrapper {
    color: black;
    width: 100%;
}

.highcontrast .schedule-resources.e-schedule .e-appointment .template-wrapper,
.highcontrast .schedule-resources.e-schedule .best-price:not(.e-work-cells) {
    color: #fff;
}

.schedule-resources.e-schedule .e-work-cells.best-price {
    background-color: #FFFBDF;
}

.schedule-resources.e-schedule .best-price:not(.e-work-cells) {
    color: #1A961A;
    float: right;
    margin-top: -22px;
    margin-right: 3px;
    width: auto;
    font-size: 12px;
}

.highcontrast .schedule-resources.e-schedule .best-price:not(.e-work-cells) {
    color: #33DB33;
}

.highcontrast .schedule-resources.e-schedule .e-work-cells.best-price {
    background-color: #393939;
}

.schedule-resources.e-schedule.e-device .best-price:not(.e-work-cells) {
    display: none;
}

.e-tooltip-wrap.e-schedule-event-tooltip .event-tooltip {
    width: 217px;
}

.e-tooltip-wrap.e-schedule-event-tooltip .airline {
    width: 40%;
}

.e-tooltip-wrap.e-schedule-event-tooltip .event-tooltip .airline-header {
    display: flex;
    padding: 8px 0px 8px 0px;
}

.e-tooltip-wrap.e-schedule-event-tooltip .event-tooltip .airline-details {
    display: flex;
    padding: 8px 5px 8px 5px;
}

.e-tooltip-wrap.e-schedule-event-tooltip .event-tooltip .airline-timings,
.e-tooltip-wrap.e-schedule-event-tooltip .event-tooltip .airline-timings-title {
    display: flex;
    padding: 5px;
}

.e-schedule-event-tooltip .event-tooltip .airline-header {
    border-bottom: 1px solid #e0e0e0;
}

.e-schedule-event-tooltip .event-tooltip .airline-logo,
.schedule-resources.e-schedule .template-wrapper .airline-logo {
    background-size: cover;
    margin-top: -3px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.e-schedule-event-tooltip .event-tooltip .airline-logo.airways-1,
.schedule-resources.e-schedule .template-wrapper .airline-logo.airways-1 {
    background-image: url('~/assets/schedule/images/airways-1.svg');
}

.e-schedule-event-tooltip .event-tooltip .airline-logo.airways-2,
.schedule-resources.e-schedule .template-wrapper .airline-logo.airways-2 {
    background-image: url('~/assets/schedule/images/airways-2.svg');
}

.e-schedule-event-tooltip .event-tooltip .airline-logo.airways-3,
.schedule-resources.e-schedule .template-wrapper .airline-logo.airways-3 {
    background-image: url('~/assets/schedule/images/airways-3.svg');
}

.schedule-resources.e-schedule .fare-detail {
    color: #00837B;
    font-size: 16px;
    font-weight: 500;
    height: 25px;
    padding-left: 5px;
}

.highcontrast .schedule-resources.e-schedule .fare-detail {
    color: #1B96BB;
}

.schedule-resources.e-schedule.e-device .fare-detail {
    font-size: 11px;
}

.schedule-resources.e-schedule .e-toolbar-item.e-date-range {
    margin-left: 8px;
    pointer-events: none;
}

.schedule-resources.e-schedule .airway-name {
    font-size: 12px;
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
}

.schedule-resources.e-schedule.e-device .airway-name {
    display: none;
}

.schedule-resources.e-schedule .e-month-view .e-appointment {
    height: 45px;
    background: none;
    border-width: 0;
    top: 10px !important;
}

.schedule-resources.e-schedule.e-device .e-month-view .e-appointment {
    height: 45px;
}

.e-bigger .schedule-resources.e-schedule .e-month-view .e-appointment {
    height: 40px;
}

.schedule-resources.e-schedule .e-month-view .e-appointment .e-appointment-details {
    height: inherit;
}

.schedule-resources.e-schedule .e-month-view .e-more-indicator {
    display: none
}

.schedule-resources.e-schedule .e-month-view .e-appointment.e-appointment-border,
.schedule-resources.e-schedule .e-month-view .e-appointment:focus {
    border-width: 0;
}

.e-tooltip-wrap.e-popup.e-schedule-event-tooltip {
    opacity: 1;
}

.highcontrast .e-tooltip-wrap.e-popup.e-schedule-event-tooltip {
    border-color: #e0e0e0;
    background-color: #fff;
}

.highcontrast .e-tooltip-wrap.e-popup.e-schedule-event-tooltip .e-tip-content {
    color: #000;
}

.e-tooltip-wrap.e-popup.e-schedule-event-tooltip .event-tooltip .airline-name {
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 3px;
}

.e-tooltip-wrap.e-popup.e-schedule-event-tooltip .event-tooltip .airline-title {
    font-weight: 500;
    font-size: 14px;
}

.e-tooltip-wrap.e-popup.e-schedule-event-tooltip .event-tooltip .airline-logo {
    margin-left: 5px;
    background-size: 25px;
    height: 25px;
    width: 25px;
    margin-top: 0px;
}
/* custom code start*/
.schedule-demo-heading {
    font-size: 16px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 500
}

.property-panel-content .e-checkbox-wrapper.e-resource.e-airways-1 .e-frame {
    background-color: #EA7A57;
    border-color: transparent;
}

.property-panel-content .e-checkbox-wrapper.e-resource.e-airways-2 .e-frame {
    background-color: #357CD2;
    border-color: transparent;
}

.property-panel-content .e-checkbox-wrapper.e-resource.e-airways-3 .e-frame {
    background-color: #7FA900;
    border-color: transparent;
}

@media (max-width: 550px) {
    .schedule-demo-heading {
        font-size: 14px;
    }
}