<div>
  <h1>Nome: {{apartamento.nome}}</h1>
  <p>Cidade: {{apartamento.morada.cidade}}</p>
  <p>Rua: {{apartamento.morada.rua}}</p>
  <p>Preço: {{apartamento.preco}}</p>
  <p>Lotação: {{apartamento.lotacao}}</p>
  <p>Estado: {{apartamento.estado}}</p>
  <h3>Caracteristicas</h3>
  <ul>
    <li *ngFor="let cara of apartamento.caracteristicas">
      <p>{{ cara }} </p>
    </li>
  </ul>

  <h3>Serviços</h3>
  <ul>
    <li *ngFor="let servicos of apartamento.servicos">
      <p>{{ servicos }} </p>
    </li>
  </ul>

  <h4>Minha Estadia:</h4>
  <form #newPhoneForm="ngForm" (ngSubmit)="newHistory()" novalidate>
    <div class="form-group">
      <label for="inicio">Data inicio</label>
      <input type="date" class="form-control" name="inicio" id="inicio" [(ngModel)]="histEntry.inicio">
    </div>
    <div class="form-group">
      <label for="fim">Data fim</label>
      <input type="date" class="form-control" name="fim" id="fim" [(ngModel)]="histEntry.fim">
    </div>
    <input type="submit">
    <div id="paypal-checkout-btn"></div>
  </form>

  <h3>Listar Historico</h3>
  <ul>
    <li *ngFor="let est of histo">
        <p>{{ est.userId.name }} - 
        {{ est.inicio }}  - 
        {{ est.fim }} - 
      {{ est.estado }} </p>
    </li>
  </ul>
</div>
