small {
  color:red; 
  display:block; 
  text-align: center
}

body{
  font-family: Helvetica;
  margin: 0;
}

h1,h2,h3{
  margin: 0;
  font-weight: bold;
  font-style: italic;
  text-align: center; 
}

.belt{
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 5px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

#menu-bar{
  background: blue;
  color: #fff;
  padding: 10px;
}

#menu-bar h1{
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

#menu-bar li{
  float: right;
  margin-left: 20px;
}

#menu-bar a{
  color: #fff
}

main{
  background: #eee;
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
}

.content{
  padding: 20px;
}

.content button,
.content input[type="submit"]{
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #777;
  border: 0;
  box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
  font-size: 16px;
}

.content button:nth-child(2){
  float: right;
}

.content ul{
  padding: 0;
  list-style-type: none;
  margin: 30px 0;
}

.content li{
  padding: 15px 0;
  border-top: 1px solid #e2e2e2;
  color: #444;
}

.content li span{
  float: right;
}

.content li h3{
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
}

.content input{
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin: 10px 0;
}

.content input[type="submit"]:last-child{
  width: 150px;
  display: block;
  margin: 15px auto;
}

.remove{
  float: right;
  padding: 5px;
  background: #fff;
  width: 18px;
  text-align: center;
  border-radius: 20px;
  color: crimson;
  cursor: pointer;
  margin-left: 10px;
}

.content textarea{
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin: 10px 0;
}

footer {
  text-align: right;
}

#sobreP {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

#sobreI {
  margin-left: 250px;
  margin-right: auto;

}

/* Animations */

/* The starting CSS styles for the enter animation */
main.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
main.ng-enter.ng-enter-active {
  opacity:1;
}

#person-list li.ng-enter {
  transition: 0.2ms linear all;
  opacity: 0;
  transform: translateY(30px);
}

#person-list li.ng-enter.ng-enter-active {
  transition: 0.2ms linear all;
  opacity: 1;
  transform: translateY(0);
}
.logo {
  margin: -12px 10px 0 0;
  float: left;
  width: 50px;
}
/* animação saida */

#person-list li.ng-leave {
  transition: 0.2ms linear all;
  opacity: 1;
  transform: translateX(0px);
}

#person-list li.ng-leave.ng-enter-active {
  transition: 0.2ms linear all;
  opacity: 0;
  transform: translateX(-100%);
}

/* validaçoes form */

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

input[disabled="disabled"] {
  opacity: 0.4;
  cursor: not-allowed !important;
}