<p><input type="text" [(ngModel)]="search" ng-model="search" placeholder="nome da cidade"></p>
<button type="button" (click)="myReservas()" class="btn btn-primary">Minhas reservas</button>
<div *ngFor="let artigo of artigos | cidadeFilter:search">
  <p>
    {{artigo.nome}} - {{artigo.morada.cidade}}
    <span>{{artigo.preco | currency: $}} </span>
    <button type="button" (click)="detalhes(artigo)" class="btn btn-primary">detalhes</button>
  </p>
</div>
