<p>Utilizador: {{histo.userId.name}}</p>
<p>Apartamento: {{histo.apartamentoId.nome}}</p>
<p>Data de Inicio: {{histo.inicio}}</p>
<p>Data de Fim: {{histo.fim}}</p>
<p>Estado: {{histo.estado}}</p>

<button (click)="validar()">Aceitar</button>