<h1>Novo Apartamento</h1>
<form #newPhoneForm="ngForm" (ngSubmit)="newApartamento()" novalidate>
  <div class="form-group row">
    <label for="Model" class="col-sm-2 col-form-label">Nome:</label>
    <div class="col-sm-10">
      <input type="text" name="nome" class="form-control" id="Model" [(ngModel)]="apartamento.nome">
    </div>
  </div>
  <div class="form-group row">
    <label for="cidade" class="col-sm-2 col-form-label">cidade:</label>
    <div class="col-sm-10">
      <input name="cidade" type="text" class="form-control" id="cidade" [(ngModel)]="apartamento.morada.cidade">
    </div>
  </div>

  <div class="form-group row">
    <label for="rua" class="col-sm-2 col-form-label">Rua:</label>
    <div class="col-sm-10">
      <input name="rua" type="text" class="form-control" id="rua" [(ngModel)]="apartamento.morada.rua">
    </div>
  </div>
  <div class="form-group row">
    <label for="lotacao" class="col-sm-2 col-form-label">Lotação:</label>
    <div class="col-sm-10">
      <input type="number" name="lotacao" class="form-control" id="lotacao" [(ngModel)]="apartamento.lotacao">
    </div>
  </div>
  <div class="form-group row">
    <label for="Model" class="col-sm-2 col-form-label">Estado:</label>
    <div class="col-sm-10">
      <select name="estado" id="estado">
        <option value="disponivel">Disponivel</option>
        <option value="indisponivel">Indisponivel</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="Model" class="col-sm-2 col-form-label">Preço:</label>
    <div class="col-sm-10">
      <input type="number" name="preco" class="form-control" id="Model" [(ngModel)]="apartamento.preco">
    </div>
  </div>
  <div class="form-group row">
    <label for="img" class="col-sm-2 col-form-label">Escolher imagem:</label>
    <div class="col-sm-10">
      <input type="file" name="img" (change)="onFileSelected($event)" class="form-control-file" id="img"
        [(ngModel)]="apartamento.path">
    </div>
  </div>

  <div>
    <h3>Carateristicas:</h3>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Elevador" id="Elevador">
      <label class="form-check-label" for="Elevador">
        Elevador
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Varanda" id="Varanda">
      <label class="form-check-label" for="Varanda">
        Varanda
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="terrraco" id="terrraco">
      <label class="form-check-label" for="terrraco">
        terrraço
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Mobilado" id="Mobilado">
      <label class="form-check-label" for="Mobilado">
        Mobilado
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="deficientes" id="deficientes">
      <label class="form-check-label" for="deficientes">
        Suporte para deficientes
      </label>
    </div>
  </div>
  <div>
    <h3>Serviços:</h3>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Internet" id="Internet">
      <label class="form-check-label" for="Internet">
        Internet
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Ar_Condicionado" id="Ar_Condicionado">
      <label class="form-check-label" for="Ar_Condicionado">
        Ar Condicionado
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Lareira" id="Lareira">
      <label class="form-check-label" for="Lareira">
        Lareira
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Telefone" id="Telefone">
      <label class="form-check-label" for="Telefone">
        Telefone fixo
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="TV" id="TV">
      <label class="form-check-label" for="TV">
        TV Cabo
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
