<div class="content">
  <h1>{{ utilizador.name }}</h1>
  <p>E-mail: {{utilizador.email}}</p>
  <p>Password: {{utilizador.password}}</p>
  <p>Tipo: {{utilizador.type}}</p>
  <h1>Editar Utilizador</h1>
  <form #newUserForm="ngForm" (ngSubmit)="updateUser()" novalidate>
    <div class="form-group row  ">
      <label for="userName" class="col-sm-2 col-form-label">Nome Utilizador:</label>
      <div class="col-sm-10">
        <input type="text" name="name" class="form-control" id="userName" [(ngModel)]="userModel.name">
      </div>
    </div>

    <div class="form-group row">
      <label for="Password" class="col-sm-2 col-form-label">Password:</label>
      <div class="col-sm-10">
        <input type="password" name="password" class="form-control" id="Password" [(ngModel)]="userModel.password">
      </div>
    </div>

    <div class="form-group row">
      <label for="Password" class="col-sm-2 col-form-label">Confirmar Password:</label>
      <div class="col-sm-10">
        <input type="password" name="comfirm" class="form-control" id="comfirm" [(ngModel)]="comfirm">
      </div>
    </div>

    <div class="form-group row">
      <label for="img" class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-10">
        <input type="email" name="email" class="form-control-file" id="Email" [(ngModel)]="userModel.email">
      </div>
    </div>

    <div class="form-group row">
      <label for="type" class="col-sm-2 col-form-label">Tipo de user:</label>
      <div class="col-sm-10">
        <select name="type" id="type">
          <option value="admin">Admin</option>
          <option value="cliente">Cliente</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

</div>
