<div class="content">
    <h1>Artigo</h1>
    <form name="newArtigo" novalidate>
        <input type="text" name="name" ng-model="name" placeholder="Titulo" ng-required="true">
        <div ng-show="newArtigo.name.$touched && newArtigo.name.$invalid">
            <small>introduzir nome valido</small>
        </div>
        <textarea name="description" ng-model="description" placeholder="Descrição do artigo"
            ng-required="true"></textarea>
        <div ng-show="newArtigo.description.$touched && newArtigo.description.$invalid">
            <small>introduzir Descrição valida</small>
        </div>
        <input type="number" name="price" ng-model="price" placeholder="Valor do artigo" ng-required="true">
        <div ng-show="newArtigo.price.$touched && newArtigo.price.$invalid">
            <small>introduzir preço valido</small>
        </div>
        <input type="date" name="endSale" ng-model="endSale" placeholder="Fim de Leilão" ng-required="true">
        <div ng-show="newArtigo.endSale.$touched && newArtigo.endSale.$invalid">
            <small>introduzir uma data valida</small>
        </div>
        <input type="text" name="category" ng-model="category" placeholder="categoria" ng-required="true">
        <div ng-show="newArtigo.category.$touched && newArtigo.category.$invalid">
            <small>introduzir categoria valida</small>
        </div>
        <input type="file" name="img">
        <input type="hidden" name="" ng-model="user">
        <input type="submit" id="artigo" value="Enviar" ng-click="add()">
    </form>
</div>