
<div class="content">
    <h1>Novo Utilizador</h1>
    <form name="newUser" novalidate>
        <input type="text" name="userName" ng-model="userName" placeholder="Intruduzir username" ng-required="true">
        <div ng-show="newUser.userName.$touched && newUser.userName.$invalid">
            <small>introduzir userName valido</small>
        </div>
        <input type="password" name="password" ng-model="password" placeholder="Introduzir password" ng-required="true">
        <div ng-show="newUser.password.$touched && newUser.password.$invalid">
            <small>introduzir password valida</small>
        </div>
        <input type="password" name="comfirmPassword" ng-model="comfirmPassword" placeholder="Comfirmar password" ng-required="true">
        <div ng-show="newUser.comfirmPassword.$touched && newUser.comfirmPassword.$invalid">
            <small>Comfirmar password</small>
        </div>
        <input type="email" name="email" ng-model="email" placeholder="introduzir email" ng-required="true">
        <div ng-show="newUser.email.$touched && newUser.email.$invalid">
            <small>introduzir email valido</small>
        </div>
        <input type="submit" value="Enviar" onclick="alert('User submetido')" ng-click="add()">
    </form>
</div>
