<div class="content">
    <a href="#!/newUser"><button class="glyphicon glyphicon-user">novo User</button></a>
    <a href="#!/newArtigo"><button class="glyphicon glyphicon-gift">novo artigo</button></a>
    <a href="#!/dashboard"><button>Dashboard</button></a>
    <div>
        
        <h3>Listar Artigos</h3>
        <ul>
            <li ng-repeat="artigo in artigos | orderBy: order | filter: search" ng-show="{{true}}">
                <img class="logo" ng-src="artigo.img" >
                <h3>{{artigo.name}} - {{artigo.price}} $ - {{artigo.endSale}}</h3>            
                <a href="#!/licitar:{{artigo.id}}"><span class="glyphicon glyphicon-search"></span></a>                
                <button ng-click="apagarArtigo(artigo.id)" ><span class="glyphicon glyphicon-trash"></span></button>
            </li>
        </ul>
    </div>

    <div>
            <h3>Listar Utilizadores</h3>
            <ul>
                <li ng-repeat="user in users | orderBy: order | filter: search" ng-show="{{true}}">
                    <h3>{{user.name}} - {{user.email}}</h3>            
                    <a href="#!/userDetalhes:{{user._id}}"><span class="glyphicon glyphicon-search"></span></a>
                    <button ng-click="apagarUser(user._id)" ><span class="glyphicon glyphicon-trash"></span></button>
                </li>
            </ul>
        </div>

        <div>
                <h3>Listar licitações</h3>
                <ul>
                    <li ng-repeat="bide in bides | orderBy: order | filter: search" ng-show="{{true}}">
                        <h3>{{bide.artigo.name}} - {{bide.value}} $ - {{bide.owner.name}}</h3>
                        <button ng-click="apagarBide(bide._id)" ><span class="glyphicon glyphicon-trash"></span></button>
                    </li>
                </ul>
            </div>
</div>
