<div class="content">
    <img ng-src=""></img>
    <h1>{{artigo.name}}</h1>
    <p>FIm da venda: {{artigo.endSale}}</p>
    <p>Preço: {{artigo.price}}</p>
    <p>Descrição: {{artigo.description}}</p>
    <p>Categoria: {{artigo.category}}</p>
    <p>Dono: {{artigo.ownerId.name}}</p>
    <h4>Minha licitação:</h4>
    <input type="number" ng-model="myBide" name="myBide">
    <button class="glyphicon glyphicon-ok" ng-click="paypal(artigo.ownerId._id, artigo._id)"></button>´
    <button class="glyphicon glyphicon-trash">Remover Licitação</button>
    <ul>
        <li ng-repeat="bide in artigo.bides">
            <h3>{{bide.nameUser}} - {{bide.value | currency: $}}</h3>
        </li>
    </ul>

    <h3>Listar Licitações</h3>
                <ul>
                    <li ng-repeat="bide in bides | orderBy: order | filter: search"  ng-show="bide.artigo._id === artigo._id">
                        <h3>{{bide.owner.name}} - {{bide.value}} $</h3>
                    </li>
                </ul>

    <h1>Editar Dados</h1>
    <form name="Editar" novalidate>
            <input type="number" name="price" ng-model="price" placeholder="Valor do artigo">   
            <input type="date" name="endSale" ng-model="endSale" placeholder="Fim de Leilão">            
            <input type="text" name="winner" ng-model="winner" placeholder="winner">       
            <input type="submit" value="Enviar" onclick="alert('Artigo editado')" ng-click="EditarArtigo(artigo._id)">
        </form>
</div>