<div class="content">
    <button ng-click="myArtigos('5d0a233138143c428c08a9e3')">Meus Artigos</button>
    <button ng-click="myBides('5d0a233138143c428c08a9e3')">Minhas Licitações</button>
    <input type="text" ng-model="search" placeholder="Nome do artigo">
    <ul>
        <li ng-repeat="artigo in artigos | filter: search" >
            <img class="logo" ng-src="" >
            <h3>{{artigo.name}} - {{artigo.endSale}}</h3>  
            <a href="#!/licitar:{{artigo.id}}"><span class="glyphicon glyphicon-search"></span></a>   
            <span>{{artigo.price | currency: $}}__</span>
        </li>
    </ul>
</div>