<div id="menu-bar">
    <h1>ISPP</h1>
    <ul>
        <li><a href="#!/home">Home</a></li>
        <li><a href="#!/newArtigo">Novo Artigo</a></li>
        <li><a href="#!/newUser">Novo Utilizador</a></li>
        <li><a href="#!/listArtigo">Artigos</a></li>
        <li><a href="#!/gerir">Gestão do site</a></li>
        <li><a href="#!/dashboard1">Dashboard</a></li>
    </ul>
</div>
