<div class="content">
    <h1>{{user.name}}</h1>
    <p>E-mail: {{user.email}}</p>
    <p>Password: {{user.password}}</p>
    <h1>Editar Utilizador</h1>
    <form name="editUser" novalidate>
        <input type="text" name="userName" ng-model="userName" placeholder="Intruduzir username">
        <input type="password" name="password" ng-model="password" placeholder="Introduzir password">
        <input type="email" name="email" ng-model="email" placeholder="introduzir email">
        <input type="submit" value="Enviar" onclick="alert('Artigo submetido')" ng-click="Editar(user._id)">
    </form>
</div>