<h1>Editar Telemovel</h1>

<form>
  <div class="form-group row">
    <label for="Model" class="col-sm-2 col-form-label">Modelo:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Model">
    </div>
  </div>

  <div class="form-group row">
    <label for="Description" class="col-sm-2 col-form-label">Descrição:</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="Description"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label for="EndSale" class="col-sm-2 col-form-label">Fim de venda:</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="EndSale">
    </div>
  </div>

  <div class="form-group row">
    <label for="status" class="col-sm-2 col-form-label">Estado:</label>
    <div class="col-sm-10">
      <select class="form-control" id="estado">
        <option>pendente</option>
        <option>activo</option>
        <option>suspenso</option>
        <option>finalizado</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="price" class="col-sm-2 col-form-label">Preço:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="price">
    </div>
  </div>

  <div class="form-group row">
    <label for="winner" class="col-sm-2 col-form-label">vencedor:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="winner">
    </div>
  </div>
  <input type="hidden" id="userId">

  <div class="form-group row">
    <label for="img" class="col-sm-2 col-form-label">Escolher imagem:</label>
    <div class="col-sm-10">
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
