<div class="content">
  <a href="/newUser"><button class="glyphicon glyphicon-user">novo User</button></a>
  <a href="/newPhone"><button class="glyphicon glyphicon-gift">novo apartamento</button></a>
  <button (click)="loadDashboard()">Dashboard</button>
  <div>
    <h3>Listar apartamentos</h3>
    <div *ngFor="let artigo of apartamentos">
      <p>
        {{artigo.nome}} - {{artigo.morada.cidade}}
        <span>{{artigo.preco | currency: $}} </span>
        <button type="button" (click)="detalhesArtigo(artigo)" class="btn btn-primary">detalhes</button>
        <button type="button" (click)="apagarArtigo(artigo)" class="btn btn-primary">Remover</button>
      </p>
    </div>

    <h3>Listar Utilizadores</h3>
    <div *ngFor="let user of users">
      <p>
        {{user.name}} - {{user.email}}
        <button type="button" (click)="detalhesUser(user)" class="btn btn-primary">detalhes</button>
        <button type="button" (click)="apagarUser(user)" class="btn btn-primary">Remover</button>
      </p>
    </div>
  </div>

  <h3>Listar Historico</h3>
    <div *ngFor="let hist of historico">
      <p>
        {{hist.userId.name}} - {{hist.apartamentoId.nome}} - {{hist.estado}}
        <button type="button" (click)="detalhesHistory(hist)" class="btn btn-primary">detalhes</button>
        <button type="button" (click)="apagarHistory(hist)" class="btn btn-primary">Remover</button>
      </p>
    </div>
</div>
