<h3>Novo Utilizador</h3>

<form #newUserForm="ngForm" (ngSubmit)="newUser()" >
  <div class="form-group row">
    <label for="userName" class="col-sm-2 col-form-label">Nome Utilizador:</label>
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control" id="userName" [(ngModel)]="user.name" required maxlength="30">
    </div>
  </div>

  <div class="form-group row">
    <label for="Password" class="col-sm-2 col-form-label">Password:</label>
    <div class="col-sm-10">
      <input type="password" name="password" class="form-control" id="Password" [(ngModel)]="user.password">
    </div>
  </div>

  <div class="form-group row">
    <label for="comfirm" class="col-sm-2 col-form-label">Comfirmar Password:</label>
    <div class="col-sm-10">
      <input type="password" name="comfirm" class="form-control" id="comfirm" [(ngModel)]="comfirm">
    </div>
  </div>

  <div class="form-group row">
    <label for="img" class="col-sm-2 col-form-label">Email:</label>
    <div class="col-sm-10">
      <input type="email" name="email" class="form-control-file" id="Email" [(ngModel)]="user.email" required='true' maxlength="30">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
